html,body{
	width: 1200px;
	height: 1500px;
	white-space:nowrap;
	display: inline;	
	background-color: beige;
	overflow-y: auto;
}

#gsidebar{
	float: left;
	height: 100%;
	top: 0;
	left: 0;
	display: inline;
	
}
main{
	margin-left: 20px;
	float: left;
	display: inline;
	overflow-y: auto;
}


.border{
	border:1px solid gray;
	background-color: aquamarine;
}

.title{
	color: #185faf;
	min-height: 25px;
	height: auto;
	line-height: 50px;
	
	font-size: 1.5em;
	font-weight: 800;
}

.content{
	color: black;
	min-height: 25px;
	height: auto;
	line-height: 30px;
	font-size: 1.5em;
}

.content input{
	width: 80%;
}

 

#wxtab ul li{
	width: 25%!important;
	text-align: center;
}
#wxtab .tab-pane{
	background-color: white;
	padding: 10px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-radius: 0px,0px,5px,5px;
	
	overflow: hidden;
}

.imgborder{
	border: 5px solid #eeeeee;
	border-radius: 5px;
}

.circle{
	width: 50px;
	height: 50px;
	font-size: 25px;
	font-weight: 900;
	border: 5px solid #dddddd;
	border-radius: 25px;
	text-align: center;
	
}

.hrz{
	height: 1px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0xp;
}

.mtext{
	width:70%!important;
	margin-top: 5px;
	margin-bottom: 5px;
}

.fileupload{
	position: relative;
	width: 300px;
	height: 50px;
	z-index: 3;
	opacity: 0;
	
	
}

.bb{
	position: relative;
	left: -300px;
	width: 300px;
	height: 50px;
	z-index: 2;
	background-color: cornflowerblue;
}