<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
 <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
 
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">lifeinusaDBUser</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.1.78:3306</property>
  <property name="hibernate.connection.username">lifeinusaDBUser</property>
  <property name="hibernate.default_schema">lifeinusaDB</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <property name="show_sql">true</property>
  
  
  
  
 </session-factory>
</hibernate-configuration>
